# Python
**/.cache/
**/.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/
env/

# IDE
.vscode/

# OS
.DS_Store

# generated workflow caches
src/coffea_workflow_engine/examples/**/.cache_local/
src/coffea_workflow_engine/examples/**/.snakemake/
